[v-cloak] {
  display: none;
}

input[type='text'] {
  font-family: Arial, sans-serif;
}

.content-header {
  h1 {
    text-align: right;
  }
}

.city-container {
  @include flex-row();
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(baseline);
  border: 1px solid $border;
  padding: 5px 10px;
  border-radius: 15px;
  margin-top: 30px;
  background-color: $city;

  &:nth-child(even) {
    background-color: $city-even;
  }

  .city-closer {
    @include flex-row();
    @include justify-content(flex-end);
    width: 100%;

    .close-city {
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 16px;
      font-weight: 800;
      color: $lighterGrey;
      cursor: pointer;
      border: transparent;
      background-color: transparent;
      outline: none;

      &:active {
        color: $lightGrey;
      }
    }
  }

  .city-info {
    flex-grow: 3;
    font-size: 18px;
    font-style: italic;
    padding: 5px 0;

    .city-name {
      font-weight: 600;
    }
  }

  .city-row {
    @include flex-row();
    @include justify-content(flex-start);
    @include align-items(baseline);
    width: 100%;

    .values {
      font-family: Arial, sans-serif;
    }

    .current-weather {
      align-self: center;
      text-align: right;
      flex-grow: 1;
      padding: 0 10px;

      .weather-description {
        font-style: italic;
        font-size: 12px;
      }
    }

    .title {
      font-weight: 600;

      &:nth-child(3n) {
        margin-left: 20px;
      }
    }

    .current-temp {
      font-size: 20px;
      font-weight: 400;
    }

    .small {
      font-size: 12px;
    }
  }
}

.pagination {
  @include flex-row();
  @include flex-wrap(wrap);
  @include justify-content(center);

  font-family: Arial, sans-serif;
  a {
    cursor: pointer;
  }

  li.disabled {
    a, a:hover, a:focus {
      cursor: default !important;
    }
  }
}

.buttons-container {
  @include flex-row();
  @include justify-content(flex-end);

  .control-button {
    margin: 0 5px;
  }
}

.invalid {
  border-color: $invalid-color;
  background: $invalid-bg-color;
  box-shadow: none;
  &:focus {
    border-color: $invalid-color;
    box-shadow: none;
  }
}

.error-span {
  color: $invalid-color;
}

.btn {
  &:focus {
    outline: none!important;
  }
}